table {
  border-collapse: separate !important;
  border-spacing: 0 5px !important;
}
.tRow {
  border-bottom: none !important;
}
.tdLeft {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.tdRight {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
table tbody {
  border: 1px solid red !important;
}
