table {
  border-collapse: separate !important;
  border-spacing: 0 3px !important;
}
.tRow {
  border-bottom: none !important;
}
.tdLeft {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.tdRight {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
table tbody {
  border: 1px solid red !important;
}
#style-7::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background-color: transparent;
  border-radius: 10px;
}

#style-7::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  background-color: transparent;
}

#style-7::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122, 153, 217)),
    color-stop(0.72, rgb(73, 125, 189)),
    color-stop(0.86, rgb(28, 58, 148))
  );
}

#style-7::-webkit-scrollbar-track-piece:end {
  background: transparent;
  /* margin-bottom: 10px; */
}

#style-7::-webkit-scrollbar-track-piece:start {
  background: transparent;
  /* margin-top: 10px; */
}
